<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{!-- Social sharing tags --}}
    <meta property="og:site_name" content="Oracy">
    <meta property="og:title" content="Oracy">
    <meta property="og:description" content="10K public domain audiobooks, completely free and without ads">
    <meta property="og:image" content="https://oracy.app/img/social.jpg">
    <meta property="og:url" content="https://oracy.app">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@damirkotoric">
    {{!-- PWA tags --}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Oracy">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="img/touch_icon.png">
    {{!-- Generic tags --}}
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/app.css">
    <title>Oracy — 10K public domain audiobooks, completely free and without ads</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
